<!DOCTYPE html>

<html>
<head>
<style>
 p.ex1 {
    margin-left: 250px;
  }
  p.ex2 {
    margin-left: 310px;
  }
  p.ex3 {
    margin-left: 263px;
  }
  p.ex4{
    margin-top: 60px;
  }
  p.ex5{
    margin-left: 25px;
  }
</style>
</head>

<body>

  <img src="assets/logo.png">


<div *ngIf="this.method=='store'">

 <p class="ex5"> <label><h1>Store DataStore In Cloud</h1> </label></p>

</div>


<div *ngIf="this.hasRedirect==false">
  <p class="ex3"><label><h2> Token Found </h2></label></p>
</div>
<div *ngIf="this.hasRedirect==true">
  <p class="ex3"><label><h2> Attempting Redirect </h2></label></p>
</div>

<div class="ex4">
  <p class="ex4">
<img src="assets/en_horizontal_cef_logo_2.png" width="500">
</p>
</div>

</body>
</html>
