{{define "content"}}
{{if (eq .Method "load")}}

  <h1>Load Current Data From a Cloud File</h1>

<h2>Select your SEAL DataStore File</h2>

<div class="center">
<table id="table">
  <tr>
      <th>Name</th> 
  </tr>
    {{ range .Files.FileList}}
    <tr>  <td>{{ . }}</td> 
    </tr>
  {{ end}}
</table>
</div>

<div id="correct" class="center">
  <form action="/per/insertPassword/{{.Method}}" method="post">
    <input placeholder="Password" type="password" name="password">
    <input id="filenameform" placeholder="File Name" type="text" name="dataStoreName">
    <input name="msToken" type="hidden" value={{.MSToken}}>
    <input type="submit" class="btn outline-primary" value="Submit">
  </form>
  </div>

  <script>
    $("#correct").hide();
    document.getElementById("filenameform").style.display = "none";
    $("#table tr").click(function(){
     $("#correct").show();
     $(this).addClass('selected').siblings().removeClass('selected');  
      var value=$(this).find('td:first').html();
      console.log(value)    
      document.getElementById("filenameform").value = value
    });

  </script>
{{end}}

{{if (eq .Method "store")}}
  <h1>Save Your Current Data</h1>
<h2>
  <p>
    {{if (eq .PDS "Browser")}}
    <div class="tooltip">
    A File With Your Data will be added to your Local File Storage.
        <i class="fa fa-question-circle" style="font-size: 24px">
          <span class="tooltiptext"
            >Check your Browser's definitions if you wish to change your
            download location.</span></i>
      </div>
    
  
    {{end}} {{if not (eq .PDS "Browser")}}
    A File With Your Data will be added to your Cloud Storage.
    {{end}} 
  </p>
</h2>

<div id="correct" class="center">
  <form action="/per/insertPassword/{{.Method}}" method="post">   
    <input placeholder="File Name" type="text" name="dataStoreName"> 
    <input placeholder="Password" type="password" name="password">
    <input name="msToken" type="hidden" value={{.MSToken}}>
    <input type="submit" class="btn outline-primary" value="Submit">
  </form>
  </div>
{{end}}

{{if (eq .UserError "Password")}}
<h2 style="color: red;"><p>Your Password Is Incorrect. Please Insert a Valid Password</p></h2>
{{end}}

{{end}}