<!DOCTYPE html>

<html>
<head>
  <style> 

  h1 {
   margin-left: 50px; 
  }
  form {

    margin-left: 50px;
  }

  input[type=password] {
    box-sizing: border-box; 
    padding: 5px;
    border-radius: 8px;
    width: 15%;
    box-sizing: border-box;
  }
  
  input[type=button], input[type=submit], input[type=reset] {   
    background-color: #252ed3;
    border: none;
    color: white;
    text-decoration: none;
    padding: 5px;
    cursor: pointer;
  }

  </style>
  
</head>
<body>

  <div><img src="/ui/logo.png" height="150px"></div>
{{if (eq .Method "load")}}

<p><h1>Load</h1></p>

{{if (eq .IsLocalLoad true)}}
<form enctype="multipart/form-data" action="/per/insertPassword" method="post">
  <p><h2>Insert Password</h2></p>
  <input type="password" name="password">
  <input name="msToken" type="hidden" value={{.MSToken}}>
  <p><h2>Select DataStore File From Your Device</h2></p>
  <p><input name="file" type="file"></p>
  <input type="submit" value="Send">
</form>
{{end}}

{{end}}

{{if (eq .Method "store")}}
<p><h1>Store</h1></p>
{{end}}

{{if (eq .Method "storeload")}}
  <p><h1>Store and Load</h1></p>
{{end}}


{{if (eq .IsLocalLoad false)}}
<form action="/per/insertPassword" method="post">
  <p><h2>Insert Password</h2></p>
  <input type="password" name="password">
  <input name="msToken" type="hidden" value={{.MSToken}}>
  <input type="submit" value="Send">
</form>
{{end}}

<div><img src="/ui/en_horizontal_cef_logo_2.png" width="500px"></div>


</body>
</html>
