{{define "content"}}
    {{$id := .ID}} {{if (eq .MenuOption "NoFilesFound")}}

     
    {{if (eq .UserError "File")}}
    <h2 style="margin-left: 0%; color: red"><p>Your File Does Not Contain Valid Data!</p></h2>
    {{end}} 
    
    {{if (eq .UserError "Password")}}
    <h2 style="margin-left: 0%; color: red"><p>Your Password Is Incorrect!</p></h2>
    {{else}}
    <h2></h2>
    {{end}}
 
      <h1>No Files Found!</h1>
    <div id="title">
      <h2>A new file will be downloaded to your Cloud Storage.</h2>
    </div>

    <div class="center">
      <form id="form" action="/per/insertPassword/storeload" method="post">
        <input placeholder="File Name" type="text" name="dataStoreName" />
        <input placeholder="Password" type="password" name="password" />

        <input name="msToken" type="hidden" value="{{.MSToken}}" />
        <input
          type="submit"
          class="btn outline-primary"
          style="width: 100%"
          value="Submit"
        />
      </form>
    </div>

    <form
      id="exit"
      action="http://seal.uma.es/seal"
      style="margin-top: 5%; margin-bottom: 10%"
    >
      <input
        type="submit"
        class="btn outline-primary"
        style="width: 18.5%; margin-left: 4%; color: red; border-color: red"
        value="Exit to Dashboard"
      />
    </form>

    {{end}} 
    {{if (eq .MenuOption "BrowserOption")}} 
    
    {{if (eq .UserError "File")}}
    <h2 style="margin-left: 0%; color: red"><p>Your File Does Not Contain Valid Data!</p></h2>
    {{end}} 
    
    {{if (eq .UserError "Password")}}
    <h2 style="margin-left: 0%; color: red"><p>Your Password Is Incorrect!</p></h2>
    {{else}}
    <h2></h2>
    {{end}}

    <button class="collapsible" style="width: 20%">Load Existing Data</button>
    <div class="content">
      <h2 style="margin-left: 0%;">
        <p>Loading User's Data From a Local File</p>
        <p>Click the following button to select your desired file</p>
      </h2>
      <form
        id="loadForm"
        enctype="multipart/form-data"
        action="/per/insertPassword/{{.Method}}"
        method="post"
        style="height: 200px;"
      >
        <label
          id="labelForFile"
          class="btn outline-primary"
          style="border: 2px solid #003399; width: 20%; text-align: center"
          for="file"
          >Upload</label
        >
        <input id="file" type="file" name="file" style="display: none" />
        <input
          id="passLoad"
          placeholder="Password"
          type="password"
          name="password"
          style="margin-left: 1%"
        />
        <input name="msToken" type="hidden" value="{{.MSToken}}" />
        <input
          id="submit"
          type="submit"
          class="btn outline-primary"
          style="width: 20%"
          value="Confirm"
        />
      </form>
    </div>

    <button class="collapsible" style="width: 20%;">Create New File</button>
    <div class="content">
      <h2 style="margin-left: 0.5%">
        A File With Your Data will be downloaded to your Local File System.
        <div class="tooltip">
          <i class="fa fa-question-circle" style="font-size: 24px">
            <span class="tooltiptext"
              >Check your Browser's definitions if you wish to change your
              download location.</span
            ></i
          >
        </div>
      </h2>
      <form id="storeForm" action="/per/insertPassword/storeload" method="post">
        <input placeholder="File Name" type="text" name="dataStoreName" />
        <input placeholder="Password" type="password" name="password" />
        <input name="msToken" type="hidden" value="{{.MSToken}}" />
        <input
          type="submit"
          class="btn outline-primary"
          style="width: 20%"
          value="Confirm"
        />
      </form>
    </div>

    <form
      id="exit"
      action="http://seal.uma.es/seal"
      style="margin-top: 5%; margin-bottom: 10%"
    >
      <input
        type="submit"
        class="btn outline-primary"
        style="width: 18.5%; margin-left: 4%; color: red; border-color: red"
        value="Exit to Dashboard"
      />
    </form>

    <script>
      var coll = document.getElementsByClassName("collapsible");
      var i;

      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.maxHeight) {
            content.style.maxHeight = null;
          } else {
            content.style.maxHeight = content.scrollHeight + "px";
          }
        });
      }
    </script>

    <script>
      $("#passLoad").hide();
      $("#submit").hide();
      console.log($("#file").val());

      $("#file").on("change", function () {
        $("#passLoad").show();
        $("#submit").show ();
        console.log($("#file").val());
        var i = $(this).prev("label").clone();
        var file = $("#file")[0].files[0].name;
        $(this).prev("label").text(file);
      });
    </script>

    {{end}}
 {{end}}