
  {{ define "content" }}

    {{$code := .Code}}

    <div id="ds" type="hidden">{{ .DataStore }}</div>
    <div id="cca" type="hidden">{{.ClientCallbackAddr}}</div>

    {{if (eq $code 200) }}
    <h1>Success!</h1>
    {{end}} {{if not (eq $code 200) }}
    <h1>Failure!</h1>
    <h2>{{ .ErrorMessage }}</h2>
    {{end}}

    <h2>{{ .Message }}</h2>

    <form id="form" action="/per/aux/save" method="get">
      <input name="sessionId" type="hidden" value="{{.ID}}" />
      <input name="token" type="hidden" value="{{.MSTokenRedirect}}" />
      <input name="contents" type="hidden" value="{{.DataStore}}" />
      <input
        name="clientCallbackAddr"
        type="hidden"
        value="{{.ClientCallbackAddr}}"
      />
    </form>
    <form id="redirect" action="/per/pollcca" method="get">
      <input name="msToken" type="hidden" value="{{.MSToken}}" />
      <input name="tokenInfo" type="hidden" value="{{.MSTokenRedirect}}" />
    </form>
    <form id="rm" action="{{.ClientCallbackAddr}}" method="post">
      <input name="msToken" type="hidden" value="{{.MSTokenRedirect}}" />
    </form>

    <script>
      document.getElementById("ds").style.display = "none";
      document.getElementById("cca").style.display = "none";
      var ds = document.getElementById("ds").innerHTML;
      console.log(ds);
      var b = ds!=="";
      console.log(b);
   

      var timer = setTimeout(function () {
        if (
          document.getElementById("cca").innerHTML.indexOf("/rm/response") != -1
        ) {
          document.getElementById("rm").submit();
        } else {
          document.getElementById("redirect").submit();
        }
      }, 3000);

      if (ds) {
        document.getElementById("form").submit();
      }
    </script>

    {{if (eq .Message "Redirecting...")}}
    <script>
      window.location =  document.getElementById("cca").innerHTML;  
    </script>
    {{end}}
 {{end}}