
{{ define "content" }}
    <button
    id="btn" type="hidden"></button>

  <div id="method" type="hidden">{{ .Method }}</div>

    {{if (eq .Method "load")}}
  
      <h1>Load Existing Data</h1>
    
   
    <div class="tooltip">
      <h2>Scan The Following QR Code using your SEAL Mobile App
      <i class="fa fa-question-circle" style="font-size:24px">
        <span class="tooltiptext">    If you don't have the app instaled, it is recommended that you select the
          "Local File" Option in order to select a file containing your data from
          your device</span></i></h2></div>
    
    {{end}} {{if (eq .Method "store")}}

      <h1>Save Your Current Data</h1>

    <div class="tooltip">
      
    <h2>Scan The Following QR Code using your SEAL Mobile App
      <i class="fa fa-question-circle" style="font-size:24px">
        <span class="tooltiptext">  If you don't have the app instaled, it is recommended that you select the
          "Local File" Option in order to store your data on a file in your device.</span></i></h2></div>
    
    {{end}}
  
    <div
      class="margin-body-log-in-worker"
      style="display: flex; justify-content: center; align-items: center"
    >
      <div class="row">
        <div class="col-4 col-sm-4 col-md-3 col-xl-2 center">
          <img
            class="c1"
            src="data:image/png;base64,{{.Image}}"
            class="img-fluid image-dashboard"
          />
        </div>
      </div>
    </div>

  
    </div>

    <script>
      
    document.getElementById("method").style.display = "none";
    document.getElementById("btn").style.display = "none";
      var fetchNow = function() {
        
      var sessionId = document.getElementById("id").innerHTML;
      var method = document.getElementById("method").innerHTML;
  
          const response =  fetch('https://vm.project-seal.eu:8082/per/aux/checkQrCodePoll?sessionId='+sessionId, {
            method: 'get',
          }).then((response) => {
            console.log('Fetch - Got response: ', response.status); 
            if (response.status != 200){
                var timer = setTimeout(function () {
                fetchNow();
                }, 2000);
            }else{       
              window.location.href='https://vm.project-seal.eu:8082/per/aux/qrCodePoll?sessionId='+sessionId+"&operation="+method
          } }) 
      };
      fetchNow();
      
    </script>

{{end}}