<!DOCTYPE html>

<html>
<head>
  <style> 
  h1, h2 {
   margin-left: 50px; 
  }
  img.c1 {
    margin-left: 45px;
  }

  </style>
</head>


<div><img src="/ui/logo.png" height="150px"></div>

<body>

{{if (eq .Method "load")}}
<p><h1>Load</h1></p>
{{end}}
{{if (eq .Method "store")}}
<p><h1>Store</h1></p>
{{end}}

{{if (eq .IsDesktop true)}}
<h2>Scan The Following QR Code using your Mobile Device</h2>
    
<div class="margin-body-log-in-worker">
    <div class="row">
      <div class="col-4 col-sm-4 col-md-3 col-xl-2 center">
            <img class="c1" src="data:image/png;base64,{{.Image}}" class="img-fluid image-dashboard" />
      </div>
    </div>
</div>
{{end}}

{{if (eq .IsDesktop false)}}
<h2>Scan The Following QR Code using a Mobile Device or Click It</h2>
    
<a href={{.CustomURL}}>
  <img class="c1" src="data:image/png;base64,{{.Image}}" class="img-fluid image-dashboard" />
</a>
{{end}}

<div><img src="/ui/en_horizontal_cef_logo_2.png" width="500px"></div>
  
</body>
</html>
  