<!DOCTYPE html>

<html>
<head>
<style>
 p.ex1 {
    margin-left: 250px;
  }
  p.ex2 {
    margin-left: 310px;
  }
  p.ex3 {
    margin-left: 263px;
  }
  p.ex4{
    margin-top: 60px;
  }
  p.ex5{
    margin-left: 25px;
  }
</style>
</head>

<body>

  <img src="assets/logo.png">


<div *ngIf="this.error==true">

 <p class="ex5"> <label><h1>Load Failed! Invalid Session</h1> </label></p>

</div>

<div *ngIf="this.error==false">

  <p class="ex5"> <label><h1>Loading...</h1> </label></p>

 </div>

<div class="ex4">
  <p class="ex4">
<img src="assets/en_horizontal_cef_logo_2.png" width="500">
</p>
</div>

</body>
</html>
