<!DOCTYPE html>

<html>
<head>
<style>
  p.ex1 {
    margin-left: 250px;
  }
  p.ex2 {
    margin-left: 310px;
  }
  p.ex3 {
    margin-left: 300px;
  }
  p.ex4{
    margin-top: 60px;
  }
  p.ex5{
    margin-left: 25px;
  }
</style>
</head>
<body>

  <img src="assets/logo.png">

<div *ngIf="this.toStore==='load'">

<div *ngIf="this.files?.length > 0">

    <p class="ex5"> <label> <h2>Files In Storage</h2></label></p>
    <li *ngFor="let file of files">
      {{ file }}
    </li>



    <p class="ex5"> <label><h1> Insert Password </h1> </label></p>

    <p class="ex3"><label><h3>Password</h3></label></p>
     <p class="ex1"><input id="password" type="password" [(ngModel)]="password"></p>

   <div *ngIf="this.password!=''">
       <p class="ex2"><button class="botao" (click)='sendPassword(password)'>Send</button></p>
   </div>


  </div>

  <div *ngIf="this.files === null">
    <p class="ex3"><label> <h2>No Files Found!</h2></label></p>
    <p class="ex3"> <label><h2>Would You Like to Store a File? </h2></label></p>

    <p class="ex3"><button class="botao" (click)='storeFile()'>Yes</button></p>
  </div>

  <div *ngIf="this.files?.length == 0">

  <p class="ex3"><label> <h2>No Files Found!</h2></label></p>
  <p class="ex3"> <label><h2>Would You Like to Store a File? </h2></label></p>

  <p class="ex3"><button class="botao" (click)='storeFile()'>Yes</button></p>
  </div>
</div>


<div *ngIf="this.toStore==='store'">

  <p class="ex5"> <label><h1> Insert Password </h1> </label></p>

  <p class="ex3"><label><h3>Password</h3></label></p>
   <p class="ex1"><input id="password" type="password" [(ngModel)]="password"></p>

 <div *ngIf="this.password!=''">
     <p class="ex2"><button class="botao" (click)='sendPassword(password)'>Send</button></p>
 </div>


</div>


<div class="ex4">
  <p class="ex4">
<img src="assets/en_horizontal_cef_logo_2.png" width="500">
</p>
</div>

</body>
</html>
